@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&family=Pixelify+Sans&family=VT323&display=swap');

:root {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  --bg: #0C0623;
  --border: #FFADE2;
  --text: #F8DDE5;
  --prompt-default: #A5A7A7;
  --prompt-1: #FE6BC9;
  --prompt-2: #70FDFF;
}

@keyframes typing {
  from { width: 0 }
  to   { width: 100% }
}

html,
body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 16px;
  display: block;
}

html {
  overflow: auto;
}

p {
  display: block;
  line-height: 22px;
  animation: typing 0.5s steps(30, end);
  white-space: nowrap;
  overflow: hidden;
}

div {
  line-height: 22px;
}

@font-face {
  font-family: ascii;
  src: url("./font/IBMPlexMono-Thin.ttf")
}

pre {
  margin: 0;
  padding: 0;
  line-height: 20px !important;
  color: #FF9951;
  font-family: "ascii", monospace;
}

input {
  font-family: 'IBM Plex Mono', monospace;
  padding: 0px;
  margin: 0px;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  color: #FF7685;
  caret-color: var(--prompt-default);
  width: 50%;
}

a {
  color: #B6AAEE;
}

a:hover {
  background-color: var(--border);
  color: var(--bg);
}

/* Terminal content */
.term-output {
  margin-left: 20px;
}

.term-input-line {
  margin-left: 20px;
  overflow-x: hidden;
  width: 100%;
}

.term-prompt {
  color: var(--prompt-default);
}

.term-pre-user,
.term-user {
  color: var(--prompt-1);
}

.term-pre-host,
.term-host {
  color: var(--prompt-2);
}

.command {
  text-shadow:
    0 0 7px #fff,
    0 0 151px var(--border);
  color: #FD9BDB;
}

.output {
  font-weight: 400 !important;
}

.keys {
  color: #FF9951;
  font-weight: 400;
}

@media (max-width: 600px) {
  body {
    font-size: 10px;
    font-weight: 300;
  }

  input {
    font-size: 10px;
  }

  p {
    line-height: 14px;
  }

  pre {
    line-height: 12px !important;
    font-size: 9px;
  }

  div {
    line-height: 14px;
  }

  .term-output {
    margin-left: 8px;
  }

  .term-input-line {
    margin-left: 8px;
  }
}
